
/* !version 1 */

body{
    margin:0;
    padding:0;
}

section{
    height: 600px; 
    position:relative;

    /* background-image: url("bg.png"); 
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  */
}

.img-container{
    position:absolute;
    width:100%;
    height:600px;
    overflow:hidden;
    /* height:100%; */
}

.first{
    position:absolute;
    width:100%;
    /* height:600px; */
    /* height:200%; */
}
.second{
    position:absolute;
    width:100%;
    top:600px;
    /* height:700px; */
}

.third{
    position:absolute;
    width:100%;
    top:600px;
    /* height:600px; */
}


/* ! version 2 */

