*body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 10%;
  width: 500px;
  height: 500px;
  position: absolute;
  top: -10%;
  left: 30%;
  border-radius: 10px;
}
.text {
  /* font-size: 1.5rem; */
  text-align: center;
  transform: scale(2.7);
}
.nav-icon {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid rgb(87, 86, 88);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 28%;
  z-index: 99;
  margin-left: 40px;
  cursor: pointer;
  opacity: 1;
}
.nav-line {
  width: 30px;
  height: 3px;
  background-color: rgb(82, 87, 88);
}
.glass-box {
  width: 500px;
  height: 500px;
  margin-top: 10%;
  background-color: rgba(185, 230, 215, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  position: absolute;
  top: -10%;
  left: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-box ul li {
  border: 2px solid rgb(60, 50, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  opacity: 0;
  list-style-type: none;
  margin-bottom: 40px;
  width: 300px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
}
