#img-container {
  width: 500px;
  /* height: 70%; */
  box-shadow: 4px 2px 6px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  overflow: hidden;
}
img {
  width: 100%;
  transition: all 1s;
  /* transform: translateX(-100%); */
}
/* .active {
  transform: translateX();
} */
button {
  border-radius: 15px;
  padding: 15px;
  font-size: 25px;
  width: 10%;
  background-color: rgba(204, 252, 252, 0.7);
}
